.header__lang-link {
  font-family: 'Inter';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 20px;
  color: #fff;
  text-align: right;
}

.header__lang-link:nth-child(1) {
  margin-right: 18px;
  text-decoration: underline;
}

.header__lang-link:nth-child(2) {
  text-decoration: none;
}
