.lead {
  padding-bottom: 64px;
}

@media screen and (min-width: 690px) {
  .lead {
    padding-bottom: 88px;
  }
}

@media screen and (min-width: 1024px) {
  .lead {
    padding: 0 48px 92px 48px;
  }
}

