.cover {
  position: relative;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;

  box-sizing: border-box;
  padding-bottom: 63%;
}

.cover:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2A2C2F;
  opacity: .3;
}

.cover:hover:before {
  opacity: .8;
}

@media screen and (min-width: 1280px) {
  .cover {
    
  }
}
